@import('elements.less');

/*Color pallete*/
@colorPrimary:			#00234b;
@colorBusiness: 		@colorMagenta;
@colorCommunity:		#f58220;
@colorUni:				@colorTeal;
@colorLocal:			#62b32c;
@colorMagenta:			#c73d91;
@colorCyan:				#00aeef;
@colorTeal:				#00a8b7;
@colorTealDark:			darken(@colorTeal, 5%);
@colorTealLighter:		#e5f6f8;
@colorGreyLight:		#e6e7e8;
@colorGreyLighter:		#f2f4f6;
@colorGreyDark:			darken(@colorGreyLight, 30%);
@colorGreyDarker:		darken(@colorGreyLight, 80%);

/*font control*/
.fontHeaders {
	font-family:		'Roboto', Helvetica, Arial, sans-serif;
	font-weight:		400;
}
.fontBody {
	font-family:		'Open Sans', Helvetica, Arial, sans-serif;
}
.fontSerif {
	font-family:		serif;
	font-style: 		italic;
}

.small-text {
	font-size:		12px;
	line-height:	1.666;
}

/*box control*/
.baseline_padding {
	padding:			10px 0;
} 
.baseline_margin {
	margin:				10px 0;
}
.box_padding {
	padding:			10px;
} 

/* mq for changing things at breakpoints - so after the area labelled */
@breakpoint-narrow-plus: ~'(min-width: 768px)';
@breakpoint-normal-plus: ~'(min-width: 980px)';
@breakpoint-wide-plus: ~'(min-width: 1220px)';