@import('common.css.less');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700,500italic,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700');

body {
	.fontBody;
		h1, h2, h3, h4, h5, h6 {
			.fontHeaders;
			color: 				@colorPrimary;
		}
		
		h1 {
			font-size: 		30px;
			line-height:	1.25;
			margin-bottom: 	20px;
		}
		h2, h2.node-title, h2.block-title {
			font-size:		18px;
			line-height:	1.111;
			margin-bottom: 	20px;
		}
		
		h3, h4, h5 {
			font-size:		16px;
			line-height:	1.25;
			margin-bottom: 	20px;
		}
		h6 {
			font-size:		14px;
			line-height:	1.4;
			margin-bottom:	20px;
		}
		
		p, div {
			font-size:		14px;
			line-height:	1.4;
		}
		p {
			margin-bottom: 	20px;
		}
		
		a:link {
			color: @colorTealDark;
			text-decoration: none;
			&:hover {
				color: 				@colorTeal;
				text-decoration: 	underline;
			}
			&:visted {
				color: 				@colorTealDark;
				text-decoration: 	none;
			}
		}
		
		.breadcrumb {
			margin: 	20px 0;
			font-size: 	13px;
			line-height: 1.54;			
		}
		.large-grey {
			color: 		@colorGreyDark;
			font-size: 	16px;			
		}
		
		.post-meta {
			color:		@colorGreyDark;
			font-size:	12px;
		}
		
		.blue-text {
			color:@colorPrimary;
		}
		
		/*Style overides*/
		.block-community h2 {
			color:	@colorCommunity;
		}
		.block-uni h2 {
			color:	@colorUni;
		}
		.block-local h2 {
			color:	@colorLocal;
		}
		.block-business h2 {
			color:	@colorBusiness;
		}
}

span.follow-link-wrapper a {
	float:right;
}
.follow-links {margin-top:-5px;}

/*Clear*/
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clear { height: 1%; }
*:first-child+html .clear { min-height: 1px; }


/*navigation*/
ul.nice-menu-down {
	margin-left: 	20px;
	li, li.menuparent {
		background: none;
		border:		none;
		color:		white;
		margin:		0 0 0 5px;
		padding:	15px 20px 16px;
			&:hover, &.active-trail {
				background: @colorTeal;
				text-decoration: none;
			}
		}
	ul {
		border-top:	0;
		margin:		25px 0 0 0;
		li {
			background: 	@colorTeal;
			margin-left: 	0;
			&:hover {
					background: 		@colorTealDark;
					text-decoration: 	none;
				}
		}
	}
	a {	
		color:					white;
		padding:				0;
		text-decoration: 		none;
			&:hover {
				text-decoration: 	none;
			}
	}
}

/*Form and Buttons*/

/*Buttons*/
.node-links ul li a {
			.button_large;
			
}

.comment-links ul li a {
	.button_small_grey;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
			.button_small
}


/*Page Template elements*/
#section-content {
	margin-top:		-2px;
}

#zone-branding-wrapper {
	background:		@colorPrimary;
	.logo-img {
		.baseline_margin;
	}	
} 

#section-footer {
	background:		@colorPrimary;
	color: 			white;
	a {
		color: 		white;
		text-decoration: none;
			&:hover, &.active {
				text-decoration: underline;
			}
			&:visited {
				text-decoration: none;
			}
	}
}

.panel-separator, .homepage_wrapper {
	margin-bottom:	40px;
	}
.homepage_image_wrapper {
	margin-bottom:	20px;
}
.center-content {
	text-align: 	center;
}

.news_wrapper {
	padding:			20px 0 10px 0; 
	margin:				-20px 10px 40px 10px;
	background-color: 	@colorGreyLight;	
	p {
		margin-bottom: 	0px;
	}
	.grid-2, .grid-3 {
		margin:			0;
	}

}
/*homepage specific elements*/

.bean-quote {
	background:	 	@colorCyan;
	color: 			white;
	text-align: 	center;
	padding:		5% 10%;
		.field-name-field-quote div {
			font-size:		22px;
			font-style: 	italic;
			line-height:	40px;
		}
		.field-name-field-name-of-source div {
			font-size:		12px;
			line-height:	1.666;
		}
}


/*Blog*/
.submitted, .submitted span, .views-field-created, .comment-submitted  {
	color: 			@colorGreyDark;
	font-size:		13px;
	line-height: 	1.54;
	margin-bottom: 	20px;
}

.block-wp-blog-latest-posts-block {
	.item-list ul li {
		margin:		0;
	}
}

.view-display-id-block_1 {
	.views-row {
		border-bottom: 4px dotted @colorNavy;
		margin-bottom: 20px;
		h3 {
			margin-bottom:0;
		}
		.views-field-field-blog-image {
			margin-bottom: 20px;
		}
	}
}

/*pager*/

.item-list {
	.pager {
	background:none;
	border:0;
	border-radius:0;
	margin:0 auto;
	width:100%;
	li {
		background:none;
		border:0;
		border-color: none;
		border-radius:0;
		a {
			background: none;
			color: @colorTealDark;
		}
	}
	li.pager-previous a	{
			width:100px;
		}
	li.pager-current {
		background: @colorTealDark;
	}
	li.pager-last, .pager li.pager-last a, li.pager-last a:hover, li.first 
 {
		border-radius:0;
	}
}
}

/*comments*/

#comments {
	border-top:		4px dotted black;
	padding-top:	20px;
	article {
		background: 	@colorTealLighter;
		margin-bottom: 	20px;
		padding:		20px;
			h3, .comment-submitted, a {
				margin-bottom: 	10px;
				}
			.field-name-comment-body {
				margin-bottom: 	20px;
			}
	}
	form.comment-form {
		margin-bottom: 	20px;
		padding:		20px;
		
	}
	h2.comment-form {
		border-top:		4px dotted black;
		padding-top:	20px;
	}
}

/*Partners and Members Page*/

.context-partners-and-members {

		.views-grid-3 {
			float:	left;
			margin:	0 2%;
			width:	46%;
				@media all and @breakpoint-narrow-plus {
					width:160px;
					margin:0 20px 0 0;				}
				@media all and @breakpoint-normal-plus {
					width:220px;
				}
				@media all and @breakpoint-wide-plus {
					width:280px;
				}
			.views-field-field-logo {
				height:240px;
				img {
					width:100%;
					height:auto;
					@media all and @breakpoint-narrow-plus {
						width:inherit;
					}
				}
			}
			.views-field-title {
				min-height:40px;
				margin:20px 0;
			}
		}
		.views-row-4, 	.views-row-8,
		.views-row-12, 	.views-row-16,
		.views-row-20,	.views-row-24,
		.views-row-28,	.views-row-32,
		.views-row-36,	.views-row-40 
			{
			margin-right: 0;
		}	
}

/*Networks*/
.pricelist {
	background: 	@colorCyan;
	color:			white;
	text-align: 	center;
	.panel-panel img {
		margin-top:		20px;
	}
	h2 {
		color: white;
	}
	.center-grid {
			margin:0 9px;
			@media all and @breakpoint-narrow-plus {
				border-left:	1px solid white;
				border-right:	1px solid white;
			}
	}
}






