@import('common.css.less');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700,500italic,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700');

body {
	.fontBody;
		h1, h2, h3, h4, h5, h6 {
			.fontHeaders;
			color: 				@colorPrimary;
		}
		
		h1 {
			font-size: 		30px;
			line-height:	1.25;
			margin-bottom: 	20px;
		}
		h2, h2.node-title, h2.block-title {
			font-size:		18px;
			line-height:	1.111;
			margin-bottom: 	20px;
		}
		
		h3, h4, h5 {
			font-size:		16px;
			line-height:	1.25;
			margin-bottom: 	20px;
		}
		h6 {
			font-size:		14px;
			line-height:	1.4;
			margin-bottom:	20px;
		}
		
		p, div {
			font-size:		14px;
			line-height:	1.4;
		}
		p {
			margin-bottom: 	20px;
		}
		
		a:link {
			color: @colorTealDark;
			text-decoration: none;
			&:hover {
				color: 				@colorTeal;
				text-decoration: 	underline;
			}
			&:visted {
				color: 				@colorTealDark;
				text-decoration: 	none;
			}
		}
		
		.breadcrumb {
			margin: 	20px 0;
			font-size: 	13px;
			line-height: 1.54;			
		}
		.large-grey {
			color: 		@colorGreyDark;
			font-size: 	16px;			
		}
		
		.blue-text {
			color:@colorPrimary;
		}
		
		/*Style overides*/
		.block-community h2 {
			color:	@colorCommunity;
		}
		.block-uni h2 {
			color:	@colorUni;
		}
		.block-local h2 {
			color:	@colorLocal;
		}
		.block-business h2 {
			color:	@colorBusiness;
		}
}

/*Clear*/
.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clear { height: 1%; }
*:first-child+html .clear { min-height: 1px; }


/*navigation*/
.navigation {
	li {
		margin:0;
		a {
			.fontLighter;
			.fontBody;
			color: 				white;
			display: 			inline-block;
			font-size: 			18px;
			text-decoration: 	none;
			padding:23px 20px;			
				&:hover {
					background: 		@colorTealDark;
					color: 				white;
					text-decoration: 	none;
				}
				&.active {
					background: 	@colorTeal;
					color: 			white;
				}
				&:visited {
					background: 	none;
				}	
		}	
	}
}

/*Form and Buttons*/

/*Buttons*/
.node-links ul li a {
			.button_large;
			
}

.comment-links ul li a {
	.button_small_grey;
}

button, input[type="reset"], input[type="submit"], input[type="button"] {
			.button_small
}


/*Page Template elements*/
#section-content {
	margin-top:		-2px;
}

#zone-branding-wrapper {
	background:		@colorPrimary;
	.logo-img {
		.baseline_margin;
		height:		52px;
	}	
} 

#zone-footer-wrapper {
	background:		@colorPrimary;
	color: 			white;
	a {
		color: 		white;
		text-decoration: none;
			&:hover, &.active {
				text-decoration: underline;
			}
			&:visited {
				text-decoration: none;
			}
	}
}

.panel-separator, .homepage_wrapper {
	margin-bottom: 40px;
	}
.homepage_image_wrapper {
	margin-bottom:20px;
}
.center-content {
	text-align: center;
}

.news_wrapper {
	padding:		20px 0; 
	border-top:		1px solid @colorGreyLight; 
	border-bottom:	1px solid @colorGreyLight;
	margin-bottom: 	40px;
	p {
		margin-bottom: 	0px;
	}
	.grid-4 {
		margin-top:		10px;
		@media all and @breakpoint-wide-plus {
			margin-top:0;
		}
	}
}
/*homepage specific elements*/

.bean-quote {
	background:	 	@colorCyan;
	color: 			white;
	text-align: 	center;
	padding:		5% 10%;
		.field-name-field-quote div {
			font-size:		22px;
			font-style: 	italic;
			line-height:	40px;
		}
		.field-name-field-name-of-source div {
			font-size:		12px;
			line-height:	1.666;
		}
}


/*Blog*/
.submitted, .submitted span, .views-field-created, .comment-submitted  {
	color: 			@colorGreyDark;
	font-size:		13px;
	line-height: 	1.54;
	margin-bottom: 	20px;
}

.block-wp-blog-latest-posts-block {
	.item-list ul li {
		margin:		0;
	}
}

#comments {
	h3, .comment-submitted, a {
		margin-bottom: 10px;
	}
}

article, .field-name-comment-body {
	margin-bottom: 	20px;
}

.view-display-id-block_1 {
	.views-row {
		border-bottom: 2px dotted @colorGreyLight;
		margin-bottom: 20px;
	}
}






